.login_mask_bg {
  width: 60%;
  background-image: url("../../assets/icons/login-bg-mask.svg");
  background-color: var(--primary-color);
  height: 94vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 5em;
  color: var(--white);
}
.login_container {
  width: 40%;
  align-self: flex-start;
  padding-top: 3em;
}
.welcome_text {
  font-size: 30px;
  color: var(--primary-color);
}
.welcome_text > span {
  font-weight: 700;
}
