* {
  margin: 0;
  padding: 0;
}
#root,
.ant-modal-root {
  --primary-color: #7e22ce;
  --link: #085fce;
  --white: #ffffff;
  --grey: #838383;
}
.flex {
  display: flex;
  align-items: center;
  gap: 1em;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.max-w-container {
  max-width: 1400px;
  margin: 0 auto;
}
.pt-3 {
  padding-top: 3em;
}
h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  color: var(--white);
}
h2 {
  font-size: 30px;
}
