.sidebar_container {
  min-width: 300px;
  padding: 2em 2em 2em 0;
}
.sidebar_menu_link {
  font-weight: 600;
  color: #646464;
  font-size: 18px;
  text-decoration: none;
  padding: 0.5em 3em;
}
.sidebar_menu_link_active {
  color: var(--primary-color);
  background-color: #f3e8ff88;
  border-radius: 0 8px 8px 0;
}
.breadcrumbs {
  color: #999999;
  font-weight: 600;
}
